{
	"json_format_version": "2.0.0",
	"package_name": null,
	"package_version": null,
	"created": null,
	"comment": null,
	"long_term_support": null,
	"dependency_bug": null,
	"requirements": {},
	"dependencies": {},
	"additional_info": {
		"powerbuilder_version": "2022R3"
	}
}